extends layout

block scripts
  script
    var socket = io.connect();
    var id = #{list.id};
    var name = "#{list.name}";
    socket.emit('new list', {id: id, name: name});
    socket.on('update title', function(title){
      if ( id == title.id ){
        $("h1#title").text(title.name);
      }
    });
    socket.on('update items', function(list){
      if ( id == list.id ){
        var ul = $("ul");
        ul.empty();
        for ( var i in list.items ){
          if ( list.items.hasOwnProperty(i) ){
            ul.append("<li>" + list.items[i].name + "</li>");
          }
        }
      }
    });
    $(document).ready(function(){
      $("h1#title").keypress(function(e){ return e.which != 13; });
      $("h1#title").bind('input', function(){
        socket.emit("update title", {id: id, name: this.innerText});
      });

      $("ul#list").bind('input', function(){
        $(this).find("li").not($("select").parent()).append($("select:first").clone());
        var content = $("li");
        var items = [];
        content.each(function(){
          items.push($(this).text());
        })
        socket.emit("update items", {id: id, items: items});
      });
    });
block content
  block scripts
  h1#title(contenteditable=true)= list.name
  ul#list(contenteditable=true)
    li Uusi tavara
      select(name="category)
        each category, i in categories
          option(value=i) #{category}