extends layout

block scripts
  script
    var socket = io.connect();
    var id = #{list.id};
    var name = "#{list.name}";
    socket.emit('new list', {id: id, name: name});
    socket.on('update title', function(title){
      if ( id == title.id ){
        $("h1#title").text(title.name);
      }
    });
    socket.on('update items', function(list){
      if ( id == list.id ){
        var ul = $("ul");
        ul.empty();
        for ( var i in list.items ){
          if ( list.items.hasOwnProperty(i) ){
            ul.append("<li>" + list.items[i].name + "</li>");
          }
        }
      }
    });
    $(document).ready(function(){
      $("h1#title").keypress(function(e){return e.which != 13; });
      $("h1#title").bind('input', function(e){
        socket.emit("update title", {id: id, name: this.innerText});
      });

      $("ul#list").bind('input', function(){
        var lis = $(this).find("li");
        lis.each(function(index){
          $(this).attr('id', index);
        });
        lis.not($("select").parent()).prepend($("select:first").clone());

        SendList(lis);
      });

      $("ul#list li").live('change', function(){
        var lis = $("ul#list li");
        SendList(lis);
      });
    });

    function SendList(content){
      var items = [];
      content.each(function(index){
        var name = $(this).find('span').text();
        items.push({id: index, name: name, category: $("li#" + index + " select").val()} );
      })
      socket.emit("update items", {id: id, items: items});
    }
block content
  block scripts
  #container
    .item
      h1#title(contenteditable=true)= list.name
    .item
      ul#list(contenteditable=true)
        li(id=0)
          select(name="category")
            each category, i in categories
              option(value=i) #{category}
          span Uusi tavara
