extends layout

block scripts
  script
    function markDone(listid, itemid){
      $.get('/done/' + listid + '/' + itemid, function(data){
        if ( data.done == true ){
          $("li#" + itemid).addClass("done");
        }
      });
    }

block content
  block scripts
  h1#title= list.name
  ul#list
    each item in list.items
      if item.done == true
        li(id=item.id, class="done") #{item.name}
      else
        li(id=item.id) #{item.name}
      a(onclick="markDone(#{list.id}, #{item.id})") Haettu