extends layout

block scripts
  script

    var layouts = !{JSON.stringify(layouts)};

    function markDone(listid, itemid){
      $.get('/done/' + listid + '/' + itemid, function(data){
        if ( data.done == true ){
          $("li#" + itemid).addClass("done");
        }
        else if( data.done == false ){
          $("li#" + itemid).removeClass("done");
        }
      });
    }
    function Sort(layout){
      var sorted = [];
      var items = $('li');

      for ( var i in layouts[layout].order ){
        items.each(function(index){
          if ( $(this).attr('category') == layouts[layout].order[i] ){
            sorted.push(items[index]);
          }
        });
      }

      $("ul#list").append(sorted);
    }
    var socket = io.connect();
    socket.on('update items', function(list){
      for ( var i in list.items ){
        $("li#" + list.items[i].id).text(list.items[i].name);
      }
    });

block content
  block scripts
  #container
    .item
      a(href="/edit/" + list.id, id="edit") Muokkaa
      h1#title= list.name
      select(id="sort", name="sort", onchange="Sort(this.value)")
        each layout, i in layouts
          option(value=i) #{layout.name}
    .item
      ul#list
        each item in list.items
          if item.done == true
            li(onclick="markDone(#{list.id}, #{item.id})",id=item.id, category=item.category, class="done") #{item.name}
          else
            li(onclick="markDone(#{list.id}, #{item.id})", id=item.id, category=item.category) #{item.name}
    .item
      a(href="/") Takaisin